@media (min-width: 769px) {
    .container {
        width: 100%;
        height: 50vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 24px;
    }

    .imageContainer {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        align-self: center;

        padding: 8px;
    }

    .image {
        width: auto;
        height: 15vw;

        align-self: center;
    }

    .textContainer {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        padding: 8px;
    }

    .title {
        font-family: "Cormorant";
        font-weight: 700;
        font-size: 40px;

        padding: 0px;
        margin: 0px;

        color: black;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .container {
        width: cover;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 24px;
    }

    .imageContainer {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        align-self: center;

        padding: 8px;
    }

    .image {
        width: auto;
        height: 45vw;

        align-self: center;
    }

    .textContainer {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        padding: 8px;
    }

    .title {
        font-family: "Cormorant";
        font-weight: 700;
        font-size: 32px;

        padding: 0px;
        margin: 0px;

        color: black;
        text-align: center;
    }
}