@media (min-width: 769px) {
    .container {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 24px;
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .textContainer {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        padding: 8px;
    }

    .socialTextContainer {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        align-self: center;

        background-color: #24998B;
        border-radius: 32px;

        padding: 16px;
        padding-left: 24px;
        padding-right: 24px;

        margin: 0px;
        margin-top: 24px;
    }

    .title {
        font-family: "Cormorant";
        font-weight: 700;
        font-size: 40px;

        padding: 0px;
        margin: 0px;

        margin-bottom: 16px;

        color: black;
        text-align: left;
    }

    .text {
        font-family: "Mulish";
        font-weight: 500;
        font-size: 20px;

        padding: 0px;
        margin: 0px;

        color: black;
        text-align: left;
    }

    .socialTitle {
        font-family: "Cormorant";
        font-weight: 700;
        font-size: 24px;

        padding: 0px;
        margin: 0px;

        margin-bottom: 16px;

        color: white;
        text-align: center;
    }

    .socialText {
        font-family: "Mulish";
        font-weight: 800;
        font-size: 18px;

        padding: 0px;
        margin: 0px;

        margin-bottom: 8px;

        color: white;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .container {
        width: cover;
        height: 75vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 24px;
        padding-top: 32px;
        padding-bottom: 64px;
    }

    .textContainer {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 8px;
    }

    .socialTextContainer {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        align-self: center;

        background-color: #24998B;
        border-radius: 32px;

        padding: 16px;
        padding-left: 24px;
        padding-right: 24px;

        margin: 0px;
        margin-top: 24px;
    }

    .title {
        font-family: "Cormorant";
        font-weight: 700;
        font-size: 32px;

        padding: 0px;
        margin: 0px;

        margin-bottom: 16px;

        color: black;
        text-align: center;
    }

    .text {
        font-family: "Mulish";
        font-weight: 500;
        font-size: 16px;

        padding: 0px;
        margin: 0px;

        color: black;
        text-align: center;
    }

    .socialTitle {
        font-family: "Cormorant";
        font-weight: 700;
        font-size: 24px;

        padding: 0px;
        margin: 0px;

        margin-bottom: 16px;

        color: white;
        text-align: center;
    }

    .socialText {
        font-family: "Mulish";
        font-weight: 800;
        font-size: 16px;

        padding: 0px;
        margin: 0px;

        margin-bottom: 8px;

        color: white;
        text-align: center;
    }
}