.textCard {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1000px) {
    .container {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        padding: 0px;
        padding-top: 24px;
    }

    .card {
        width: 100%;
        min-height: 72vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 24px;
        padding-left: 96px;

        border-radius: 64px;
    }

    .textInnerCard {
        width: 48%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        align-self: flex-start;

        text-align: center;
    }

    .title {
        font-family: "Cormorant";
        font-weight: 500;
        font-size: 8rem;

        padding: 0px;
        margin: 0px;
        margin-bottom: 32px;

        text-align: left;

        color: white;
        -webkit-text-stroke: 0.1px black;
    }

    .button {
        width: 220px;
        height: 48px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 8px;
        margin: 0px;

        padding-left: 24px;
        padding-right: 24px;

        background-color: white;
        border-color: transparent;
        border-width: 0px;
        border-style: solid;
        border-radius: 24px;

        cursor: pointer;

        align-self: flex-start;

        font-family: "Mulish";
        font-weight: 900;
        font-size: 18px;

        box-shadow: 2px 2px 5px #333;
    }

    .buttonImage {
        width: 24px;
        height: 24px;

        align-self: center;
        margin-right: 8px;
    }
}

@media (max-width: 999px) {
    .container {
        flex: 1;
        min-height: 80vh;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        padding: 0px;
        padding-top: 24px;
    }

    .card {
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 64px;
    }

    .textInnerCard {
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;

        padding: 32px;
        padding-left: 32px;
        padding-right: 32px;

        text-align: center;
    }

    .title {
        font-family: "Cormorant";
        font-weight: 500;
        font-size: 5rem;

        padding: 0px;
        margin: 0px;
        margin-bottom: 32px;

        text-align: left;
        text-shadow: #333;

        color: white;

        -webkit-text-stroke: 0.1px black;
    }

    .button {
        width: 220px;
        height: 48px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        align-self: flex-end;

        padding: 8px;
        margin: 0px;

        padding-left: 24px;
        padding-right: 24px;

        background-color: white;
        border-color: transparent;
        border-width: 0px;
        border-style: solid;
        border-radius: 24px;

        cursor: pointer;

        font-weight: 900;
        font-size: 18px;

        align-self: center;
        color: black;

        box-shadow: 2px 2px 5px #333;
    }

    .buttonImage {
        width: 24px;
        height: 24px;

        align-self: center;
        margin-right: 8px;
    }
}