@media (min-width: 1000px) {
    .container {
        width: 100%;
        height: 64vh;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 0px;
    }

    .reverseContainer {
        width: 100%;
        height: 64vh;

        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        padding: 0px;
    }

    .imageContainer {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        align-self: center;

        padding: 24px;
    }

    .imageContainerProduct {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        align-self: center;
        background-color: #13293D;
        border-radius: 64px;

        padding: 24px;
        padding-left: 48px;
        padding-right: 48px;
    }

    .image {
        width: 20vw;
        height: 20vw;

        align-self: center;
    }

    .blueImage {
        width: 7.5vw;
        height: 5vw;

        align-self: center;
    }

    .productImage {
        width: 5vw;
        height: 5vw;

        align-self: center;
    }

    .textContainer {
        width: 50vw;
        height: auto;

        display: flex;
        flex-direction: column;

        text-align: left;

        padding: 24px;
    }

    .title {
        font-family: "Cormorant";
        font-weight: 700;
        font-size: 40px;

        padding: 0px;
        margin: 0px;
        margin-bottom: 16px;

        color: black;
    }

    .text {
        font-family: "Mulish";
        font-weight: 500;
        font-size: 20px;

        padding: 0px;
        margin: 0px;

        color: black;
    }

    .productText {
        font-family: "Mulish";
        font-weight: 800;
        font-size: 24px;

        padding: 0px;
        margin: 0px;

        margin-top: 16px;

        color: white;
    }

    .badgeCard {
        flex: 1;
        min-height: 64vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: #24998B;
        border-radius: 64px;

        margin-top: 10vh;
    }

    .badgeTitle {
        font-family: "Cormorant";
        font-weight: 500;
        font-size: 48px;

        padding: 0px;
        padding-left: 20%;
        padding-right: 20%;
        margin: 0px;
        margin-bottom: 32px;

        text-align: center;
        text-shadow: #333;

        color: white;

        -webkit-text-stroke: 0.1px black;
    }

    .badgeButton {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 16px;
        margin: 0px;

        padding-left: 32px;
        padding-right: 32px;

        background-color: white;
        border-color: transparent;
        border-width: 0px;
        border-style: solid;
        border-radius: 32px;

        cursor: pointer;

        font-family: "Mulish";
        font-weight: 900;
        font-size: 24px;

        align-self: center;
        color: black;

        box-shadow: 2px 2px 5px #333;
    }

    .spacedContainer {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0px;
        padding-top: 32px;
        padding-bottom: 64px;
    }

    .bigButton {
        width: 45%;
        height: 96px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        align-self: center;

        font-family: "Mulish";
        font-weight: 500;
        font-size: 24px;

        text-decoration: none;

        padding: 0px;
        margin: 0px;

        color: white;

        background-color: #13293D;
        border-radius: 32px;

        box-shadow: 2px 2px 5px #333;
    }
}

@media (max-width: 999px) {
    .container {
        width: 100%;
        height: 72vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0px;
    }

    .reverseContainer {
        width: 100%;
        height: 72vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0px;
    }

    .imageContainer {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        align-self: center;

        padding: 0px;
    }

    .imageContainerProduct {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        align-self: center;
        background-color: #13293D;
        border-radius: 48px;

        padding: 24px;
        padding-left: 32px;
        padding-right: 32px;

        margin-bottom: 24px;
    }

    .image {
        width: 64vw;
        height: 64vw;

        align-self: center;
    }

    .blueImage {
        width: 96px;
        height: 64px;

        align-self: center;
    }

    .productImage {
        width: 48px;
        height: 48px;

        align-self: center;
    }

    .textContainer {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;

        padding: 24px;
        padding-top: 0px;
    }

    .title {
        font-family: "Cormorant";
        font-weight: 700;
        font-size: 32px;

        padding: 0px;
        margin: 0px;
        margin-bottom: 16px;

        color: black;
    }

    .text {
        font-family: "Mulish";
        font-weight: 500;
        font-size: 16px;

        padding: 0px;
        margin: 0px;

        color: black;
    }

    .productText {
        font-family: "Mulish";
        font-weight: 800;
        font-size: 24px;

        padding: 0px;
        margin: 0px;

        padding-top: 16px;

        color: white;
    }

    .badgeCard {
        width: 100%;
        height: 72vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        background-color: #24998B;
        border-radius: 64px;

        margin-top: 10vh;
    }

    .badgeTitle {
        font-family: "Cormorant";
        font-weight: 500;
        font-size: 40px;

        padding-left: 24px;
        padding-right: 24px;
        margin: 0px;
        margin-bottom: 32px;

        text-align: center;
        text-shadow: #333;

        color: white;

        -webkit-text-stroke: 0.1px black;
    }

    .badgeButton {
        width: 200px;
        height: 48px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        align-self: flex-end;

        padding: 8px;
        margin: 0px;

        padding-left: 24px;
        padding-right: 24px;

        background-color: white;
        border-color: transparent;
        border-width: 0px;
        border-style: solid;
        border-radius: 24px;

        cursor: pointer;

        font-weight: 900;
        font-size: 18px;

        align-self: center;
        color: black;

        box-shadow: 2px 2px 5px #333;
    }

    .spacedContainer {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 24px;

        padding: 0px;
        padding-top: 24px;
        padding-bottom: 48px;
    }

    .bigButton {
        width: 100%;
        height: 64px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        align-self: center;

        font-family: "Mulish";
        font-weight: 500;
        font-size: 20px;

        text-decoration: none;

        padding: 0px;
        margin: 0px;

        color: white;

        background-color: #13293D;
        border-radius: 24px;

        box-shadow: 2px 2px 5px #333;
    }
}