@media (min-width: 769px) {
    .container {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        padding: 24px;
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .textContainer {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        padding: 8px;
    }

    .title {
        font-family: "Cormorant";
        font-weight: 700;
        font-size: 40px;

        padding: 0px;
        margin: 0px;

        margin-bottom: 16px;

        color: black;
        text-align: left;
    }

    .text {
        font-family: "Mulish";
        font-weight: 500;
        font-size: 16px;

        padding: 0px;
        margin: 0px;

        color: black;
        text-align: left;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 24px;
        padding-top: 64px;
        padding-bottom: 32px;
    }

    .textContainer {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        padding: 8px;
    }

    .title {
        font-family: "Cormorant";
        font-weight: 700;
        font-size: 32px;

        padding: 0px;
        margin: 0px;

        margin-bottom: 16px;

        color: black;
        text-align: center;
    }

    .text {
        font-family: "Mulish";
        font-weight: 500;
        font-size: 16px;

        padding: 0px;
        margin: 0px;

        color: black;
        text-align: center;
    }
}